
/* PropertyCard.css */
.properties-card {
    transition: transform 0.3s;
    font-family: 'Raleway', sans-serif;
    width: 45%;
    
  }
  
  .properties-card:hover {
    transform: scale(1.02); /* Increase the scale for a slight zoom effect on hover */
  }
  @media (max-width: 768px){
    .properties-card{
      width: 90%;
    }
  }