
/* PropertyCard.css */
.properties-card {
    transition: transform 0.3s;
    font-family: 'Raleway', sans-serif;
    width: 45%;
    
  }

  body {
    padding-top: 100px; /* Adjust based on the height of your navbar */
  }
  
  
  
  @media (max-width: 768px){
    .properties-card{
      width: 90%;
    }
  }